<div class="timeline__date"><%= start_date %> - <%= end_date %></div>
<div class="timeline__dot"></div>
<div class="timeline__content">
  <h3 class="timeline__title"><%= major %> @ <%= university_name %></h3>
  <p class="timeline__subtitle"><%= subtitle %></p>
  <p class="timeline__description"><%= description %></p>
</div>