<div class="timeline__date"><%= start_date %> - <%= end_date %></div>
<div class="timeline__dot"></div>
<div class="timeline__content">
  <h3 class="timeline__title"><%= title %> @ <%= company_name %></h3>
  <% if locals['link'].present? %>
    <a class="timeline__subtitle timeline__link" href="<%= link %>" target="_blank"><%= link %></a>
  <% end %>
  <p class="timeline__description"><%= description %></p>
</div>